{% extends "layout.html" %} {% load static %} {% block content %}

<div class="row">
    <div class="col-sm-9 mx-auto">
        <form class="my-5 py-4 form rounded-3" method="POST">
            <div class="col-10 mx-auto">
                {% csrf_token %}
                <p class="form_heading mt-4 mb-0 fs-1">{{form_action}}</p>
                {% if error %}
                <p class="error fs-5 mb-0">{{error}}</p>
                {% endif %}
                <div class=" my-3">
                    <input
                        type="text"
                        class="form_input form-control fs-5 rounded-3 w-100 px-2 py-1"
                        placeholder="Enter username here..."
                        value="{{username}}"
                        name="username" />
                    <input
                        type="password"
                        class="form_input form-control mt-3 mb-4 fs-5 rounded-3 w-100 px-2 py-1"
                        placeholder="Enter password here..."
                        value="{{password}}"
                        name="password" />
                </div>
                <button
                    type="submit"
                    class="form_button mb-4 fs-4 rounded-pill px-4 py-1">
                    {{form_action}}
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock content %}
