{% extends "layout.html" %} {% load static %} {% block content %}

<p
    class="introduction_heading fs-2 mt-0 mb-0 mx-auto"
    id="introduction_heading">.</p>
<p class="introduction_subtitle fs-5 mt-1 mx-auto" id="introduction_subtitle">...</p>
<div class="row">
    <div class="col-sm-9 mx-auto">
        <div class="bordered_container rounded-3 row mx-auto mb-5">
            <div class="col-lg-4 mx-auto py-3 d-flex justify-content-center align-items-center">
                <img src="{% static 'media/images/Portfolio.png' %}" class="h-100 w-100" />
            </div>

            <div class="col-lg-8 d-flex justify-content-center align-items-center mt-3">
                <p class="fs-5 introduction" id="introduction">
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
