body {
	background-color: #181818;
	color: #edecdd;
	font-family: "Protest Strike", sans-serif;
}

.branding,
.nav_link {
	color: #edecdd;
	text-decoration: none;
}

.branding {
	border: #edecdd 2px solid;
}

.branding:hover,
.nav_link:hover {
	color: #bec5c7;
	cursor: pointer;
}

.branding:hover {
	border: #bec5c7 2px solid;
}

.introduction {
	font-family: "Ubuntu Mono", monospace;
	color: #edecdd;
	width: fit-content;
}
